.godot/
.vscode/settings.json
builds/
.idea/
/debug/
*.import
export_presets.cfg
todos/
CelestialSim.sln.DotSettings.user
/addons/shader-slang/

# docfx output -- this will be built manually
/docs/.mkdocs_mdx_cache/
/docs/site/
/docs/docfx/
/docs/_site/
.serena/